
@{
    ViewBag.Title = "Profile";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Profile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Contacts", "AppViews")">Residents</a>
            </li>
            <li class="active">
                <strong>Profile</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-3">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span><i class="fa fa-circle text-navy"></i></span> Connected</h5>
                </div>
                <div>
                    <div class="ibox-content text-center">
                        <h1>Elizabeth Alexandra Mary</h1>
                        <div class="m-b-sm">
                            <img alt="image" class="img-circle" src="~/Images/a8.jpg">
                        </div>

                        <div class="row widget border-bottom">
                            <div class="col-sm-4 text-center">Events: <h1 class="text-center no-margins text-danger">10</h1></div>
                            <div class="col-sm-4 text-center">Mood: <br /> <i class="text-center fa fa-3x fa-smile-o text-navy"></i></div>
                            <div class="col-sm-4 text-center">Activity:<br /> <i class="text-center fa fa-3x fa-child text-navy"></i></div>
                        </div>
                        <div class="row widget border-bottom">
                            <div class="col-sm-3 text-center">Weight: <h4 class="text-center no-margins text-success">56</h4></div>
                            <div class="col-sm-3 text-center">Temp: <br /> <h4 class="text-center no-margins text-success">36.6</h4></div>
                            <div class="col-sm-3 text-center">Pulse:<br /><h4 class="text-center no-margins text-success">95</h4></div>
                            <div class="col-sm-3 text-center">BP:<br /><h4 class="text-center no-margins text-success">105/68</h4></div>
                        </div>
                        <div class="row">
                            <div class="m-b-xs text-center"><h5>DOB: 21 April 1926</h5></div>
                            <div class="text-center"><h3>Current medical conditions</h3></div>
                            <div class="m-b-n-xs text-center">
                                <div>Depression, Anxiety, Pulmonary Hypertention, Harmorragic Telangectasis, Pirokinetic Telekinesis</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="widget">
                                <div class="col-sm-6 text-left">
                                    <i class="fa fa-home"></i> Room 2
                                    <div class="m-b-xs"><i class="fa fa-map-marker"></i> Buckingham Palace</div>
                                </div>
                                <div class="col-sm-6 pull-right">
                                    <i class="fa fa-mobile"></i> Emergency contact
                                    <div class="m-b-xs"> 0210 999 999</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-title">
                <h5>Prescribed meds</h5>
            </div>
            <div class="ibox-content">
                <div>
                    <div>
                        <span>Aspirin</span>
                        <small class="pull-right">15/30 pills</small>
                    </div>
                    <div class="progress progress-small">
                        <div style="width: 50%;" class="progress-bar"></div>
                    </div>
                    <div>
                        <span>Panadol</span>
                        <small class="pull-right">30/60 pills</small>
                    </div>
                    <div class="progress progress-small">
                        <div style="width: 50%;" class="progress-bar"></div>
                    </div>
                    <div>
                        <span>Ketamine</span>
                        <small class="pull-right">2/10 pills</small>
                    </div>
                    <div class="progress progress-small">
                        <div style="width: 20%;" class="progress-bar progress-bar-danger"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Alerts</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover issue-tracker">
                            <tbody>
                                <tr>
                                    <td class="col-xs-1">
                                        <span class="label label-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                                    </td>
                                    <td class="col-xs-7 issue-info">
                                        <a href="#">
                                            FALL DETECTED
                                        </a>
                                    </td>
                                    <td class="col-xs-2">
                                        01.10.2015 11:02 pm
                                    </td>
                                    <td class="text-right col-xs-2">
                                        <button class="btn btn-white btn-xs"> Assign</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-1">
                                        <span class="label label-primary"><i class="fa fa-check" aria-hidden="true"></i></span>
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                            Pill taken aknowledgement
                                        </a>
                                    </td>
                                    <td>
                                        12.02.2015 10:00 am
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-white btn-xs"> Assign</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-1">
                                        <span class="label label-primary"><i class="fa fa-check" aria-hidden="true"></i></span>
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                            Pill taken aknowledgement
                                        </a>
                                    </td>
                                    <td>
                                        01.10.2015 11:02 pm
                                    </td>
                                    <td class="text-right">
                                        <span class="badge"><small>Checked</small></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-1">
                                        <span class="label label-warning"><i class="fa fa-line-chart" aria-hidden="true"></i></span>
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                            Sensor data above threshold
                                        </a>
                                    </td>
                                    <td>
                                        28.11.2015 05:10 pm
                                    </td>
                                    <td class="text-right">
                                        <span class="badge"><small>Checked</small></span>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="col-xs-1">
                                        <span class="label label-warning"><i class="fa fa-line-chart" aria-hidden="true"></i></span>
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                            Sensor data above threshold
                                        </a>
                                    </td>
                                    <td>
                                        05.04.2015 08:40 pm
                                    </td>
                                    <td class="text-right">
                                        <span class="badge"><small>Checked</small></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-1">
                                        <span class="label label-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                            FALL DETECTED
                                        </a>
                                    </td>
                                    <td>
                                        28.11.2015 05:10 pm
                                    </td>
                                    <td class="text-right">
                                        <span class="badge"><small>Checked</small></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-1">
                                        <span class="label label-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                            FALL DETECTED
                                        </a>
                                    </td>
                                    <td>
                                        18.09.2015 06:20 pm
                                    </td>
                                    <td class="text-right">
                                        <span class="badge"><small>Checked</small></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="#" class="btn btn-default btn-block">Show more</a>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Visitor Log</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div>
                        <div class="feed-activity-list">

                            <div class="feed-element">
                                <a href="#" class="pull-left">
                                    <img alt="image" class="img-circle" src="~/Images/a1.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right text-navy">1m ago</small>
                                    <strong>Sandra Momot</strong> came to see <strong>Elizabeth</strong>. <br>
                                    <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                    <span class="pull-right label label-success">Family</span>
                                </div>
                            </div>
                        </div>

                        <div class="feed-element">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="~/Images/profile.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="pull-right">5m ago</small>
                                <strong>Monica Smith</strong> came to see <strong>Elizabeth</strong>. <br>
                                <small class="text-muted">Today 5:60 pm - 12.06.2014</small>
                                <span class="pull-right label label-info">Friend</span>

                            </div>
                        </div>

                        <div class="feed-element">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="~/Images/a2.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="pull-right">2h ago</small>
                                <strong>Mark Johnson</strong> left a message for <strong>Elizabeth</strong>. <br>
                                <small class="text-muted">Today 2:10 pm - 12.06.2014</small>
                                <span class="pull-right label label-warning">Service</span>
                                <div class="well">
                                   The light bulb was changed as requested. The new one is 200% more bright and efficient.
                                </div>
                            </div>
                        </div>
                        <div class="feed-element">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="~/Images/a3.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="pull-right">2h ago</small>
                                <strong>Janet Rosowski</strong> added 1 photo for <strong>Elizabeth</strong>. <br>
                                <small class="text-muted">2 days ago at 8:30am</small>
                                <span class="pull-right label label-danger">Doctor</span>
                                <div class="photos">
                                    <a target="_blank" href="http://24.media.tumblr.com/20a9c501846f50c1271210639987000f/tumblr_n4vje69pJm1st5lhmo1_1280.jpg"> <img alt="image" class="feed-photo" src="~/Images/p1.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <a href="/AppViews/SocialFeed" class="btn btn-default btn-block">Show more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Live HR Monitor</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart-moving"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Daily temperature</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Daily activity</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Weight change</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-bar-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Maintanance needed</h5>
                            <div class="ibox-tools">
                                <a href="~/Views/Mailbox/BillingEmail.cshtml">
                                    <i class="fa fa-download"></i>
                                </a>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="input-group">
                                <input type="text" class="form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary">
                                        Add
                                    </button>
                                </span>
                            </div>
                            <ul class="todo-list m-t small-list">
                                <li>
                                    <a href="#" class="check-link"><i class="fa fa-check-square"></i> </a>
                                    <span class="m-l-xs todo-completed">Change the light bulb in the kitchen</span>

                                </li>
                                <li>
                                    <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                                    <span class="m-l-xs">TV is not working</span>

                                </li>
                                <li>
                                    <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                                    <span class="m-l-xs">Sheets need to be changed</span>
                                </li>
                                <li>
                                    <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                                    <span class="m-l-xs">The door knob is broken</span>
                                </li>
                                <li>
                                    <a href="#" class="check-link"><i class="fa fa-check-square"></i> </a>
                                    <span class="m-l-xs todo-completed">Window is not opening</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/plugins/peity")
    @Scripts.Render("~/plugins/flot")

    <script type="text/javascript">
        $(document).ready(function () {

            var barOptions = {
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.6,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.8
                            }, {
                                opacity: 0.8
                            }]
                        }
                    }
                },
                xaxis: {
                    tickDecimals: 0
                },
                colors: ["#1ab394"],
                grid: {
                    color: "#999999",
                    hoverable: true,
                    clickable: true,
                    tickColor: "#D4D4D4",
                    borderWidth: 0
                },
                legend: {
                    show: false
                },
                tooltip: true,
                tooltipOpts: {
                    content: "x: %x, y: %y"
                }
            };
            var barData = {
                label: "bar",
                data: [
                    [1, 34],
                    [2, 25],
                    [3, 19],
                    [4, 34],
                    [5, 32],
                    [6, 44]
                ]
            };
            $.plot($("#flot-bar-chart"), [barData], barOptions);

        });
        var barOptions = {
            series: {
                lines: {
                    show: true,
                    lineWidth: 2,
                    fill: true,
                    fillColor: {
                        colors: [{
                            opacity: 0.0
                        }, {
                            opacity: 0.0
                        }]
                    }
                }
            },
            xaxis: {
                tickDecimals: 0,
                ticks: [0, 3, 6, 9, 12, 15, 18, 21, 24]
            },
            colors: ["#1ab394"],
            grid: {
                color: "#999999",
                hoverable: true,
                clickable: true,
                tickColor: "#D4D4D4",
                borderWidth: 0
            },
            legend: {
                show: false
            },
            tooltip: true,
            tooltipOpts: {
                content: "Day: %x, temp: %y"
            }
        };
        var barData = {
            label: "bar",
            data: [
                [1, 34.9],
                [2, 36.6],
                [3, 37],
                [4, 36.8],
                [5, 41],
                [6, 39.1],
                [7, 36],
                [8, 34.9],
                [9, 36.6],
                [10, 37],
                [11, 36.8],
                [12, 36],
                [13, 38],
                [14, 36],
                [16, 34.9],
                [17, 36.6],
                [18, 37],
                [19, 36.8],
                [20, 37],
                [21, 39.1],
                [22, 36],
                [23, 36],
                [24, 36]
            ]
        };
        $.plot($("#flot-line-chart"), [barData], barOptions);
        $.plot($("#flot-line-chart2"), [barData], barOptions);

        var container = $("#flot-line-chart-moving");

        // Determine how many data points to keep based on the placeholder's initial size;
        // this gives us a nice high-res plot while avoiding more than one point per pixel.

        var maximum = container.outerWidth() / 2 || 300;

        //

        var data = [];

        function getRandomData() {

            if (data.length) {
                data = data.slice(1);
            }

            while (data.length < maximum) {
                var previous = data.length ? data[data.length - 1] : 50;
                var y = previous + Math.random() * 10 - 5;
                data.push(y < 0 ? 0 : y > 100 ? 100 : y);
            }

            // zip the generated y values with the x values

            var res = [];
            for (var i = 0; i < data.length; ++i) {
                res.push([i, data[i]])
            }

            return res;
        }

        series = [{
            data: getRandomData(),
            lines: {
                fill: true
            }
        }];


        var plot = $.plot(container, series, {
            grid: {

                color: "#999999",
                tickColor: "#D4D4D4",
                borderWidth: 0,
                minBorderMargin: 20,
                labelMargin: 10,
                backgroundColor: {
                    colors: ["#ffffff", "#ffffff"]
                },
                margin: {
                    top: 8,
                    bottom: 20,
                    left: 20
                },
                markings: function (axes) {
                    var markings = [];
                    var xaxis = axes.xaxis;
                    for (var x = Math.floor(xaxis.min) ; x < xaxis.max; x += xaxis.tickSize * 2) {
                        markings.push({
                            xaxis: {
                                from: x,
                                to: x + xaxis.tickSize
                            },
                            color: "#fff"
                        });
                    }
                    return markings;
                }
            },
            colors: ["#1ab394"],
            xaxis: {
                tickFormatter: function () {
                    return "";
                }
            },
            yaxis: {
                min: 0,
                max: 110
            },
            legend: {
                show: true
            }
        });

        // Update the random dataset at 25FPS for a smoothly-animating chart

        setInterval(function updateRandom() {
            series[0].data = getRandomData();
            plot.setData(series);
            plot.draw();
        }, 40);
    </script>
}

